body {
    background:rgba(var(--b3f,250,250,250),1);
    color: #333333;
    margin-top: 6rem;
    font-size: 14px;
}

.navbar {
    background-color: white;
}

.article {
    width: 40rem;
    margin-bottom: 5rem;
}

.post-media {
    /* padding-left: 20px;
    padding-right: 20px; */
}

.card-header {
    background-color: #ffffff;
}

.post-meta-data {
    margin-top: -15px;
    margin-bottom: 5px;
    font-size: 17px;
}

.up-info {
    color:#ec4a64;
}

#like_counter {
    margin-top: 2px;
    font-weight: bold;
    font-size: 15px;
} 

.comments {
}

.comment{
    display: block;
    word-wrap: break;
    font-size: 14px;
}


a.user-link {
    color:#222222;
    font-weight: bold;
}

.account-img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

#make-comment {
    font-size: 15px;
}

.fas {
    font-size: 25px;
    color:#ec4a64;
}