{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Update Account Info</legend>
                <div class="float-left col-md-1">
                    <img  class="rounded" src="{{ get_file_url('profile_pics/' + current_user.image_file) }}">
                </div>
                <div class="float-right">
                    <div class="form-group" >
                        {{ form.username.label() }}
                        {{ form.username(class="form-control", placeholder="Username") }}
                        <div>
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-file") }}
                        <div>
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </div>
            </fieldset
        </form>
    </div>
{% endblock %}
