{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <div class="card article">
            <div class="card-header">
                <img  class="account-img rounded-circle" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                <a class="text-secondary user-link" href="{{ url_for('get_user', username=post.author.username) }}">{{ post.author.username }}</a>
            </div>
    
            {% if post.media %}
                <img src="{{ url_for('static', filename='media/' + post.media) }}" class="card-img-top post-media" alt="">
            {% endif %}
            <div class="card-body">
                <p class="card-text post-meta-data">
                    {% if post.user_liked(current_user) %}
                        <a href="#" id="like">liked</a>
                    {% else %}
                        <a href="#" id="like">like</a>
                    {% endif %}
                    <span id="like_count">{{ post.get_likes_count() }}</span>
    
                    
                    <small class="float-right"><a class="text-muted" href="{{ url_for('get_post', post_id=post.pid) }}">view</a></small>
                    
                </p>
                <p class="card-text"> 
                    <a class="text-secondary user-link " href="{{ url_for('get_user', username=post.author.username) }}">{{ post.author.username }}</a>
                    {{ post.content }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
