{% extends "layout.html" %}
{% block content %}
<style>

.modal-footer {
    justify-content: space-between;
    padding: 0rem 0.5rem 0 0.5rem;
}

.list-group-flush {
    width: 85%;
}

.caption-box {
    max-width: inherit;
    word-wrap: break-word;
    resize: none;
    border: none;
}

textarea { overflow: hidden; } 

</style>
    {% for post in posts %}
        <div class="card article">
            <div class="card-header">
                <img  class="account-img rounded-circle" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                <a class="text-dark user-link" href="{{ url_for('get_user', username=post.author.username) }}">{{ post.author.username }}</a>
            </div>
    
            {% if post.media %}
                <img src="{{ url_for('static', filename='media/' + post.media) }}" class="card-img-top post-media rounded-0" alt="">
            {% endif %}
            <div class="card-body">
                <p class="card-text post-meta-data">
                    {% if post.user_liked(current_user) %}
                        <a href="#" id="like">liked</a>
                    {% else %}
                        <a href="#" id="like">like</a>
                    {% endif %}
                    <span id="like_count">{{ post.get_likes_count() }}</span>
    
                    
                    <small class="float-right"><a class="text-muted" href="{{ url_for('get_post', post_id=post.pid) }}">view</a></small>
                    
                </p>
                <span class="card-text"> 
                    {% if post.content %}
                        <a class="text-dark user-link " href="{{ url_for('get_user', username=post.author.username) }}">{{ post.author.username }}</a>
                        {{ post.content }}
                    {% endif %}
                </span>
                <div class="comments">
                    {% if post.comments %}
                        {% if post.comments_count() > 2 %}
                            <a class="text-muted" href="{{ url_for('get_post', post_id=post.pid) }}">View all {{ post.comments_count() }} comments</a>
                        {% endif %}
                        {% for comment in post.get_comments(limit=2) %}
                            <span class="comment">
                                <a class="text-dark user-link" href="{{ url_for('get_user', username=comment.author.username) }}">{{ comment.author.username }}</a>
                                    {{ comment.content }}
                            </span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <!-- <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted comment-box" id="make-comment" contentEditable="true">
                    Add a comment..
                </li>
                <button class="btn comment-btn" id="post-comment">Comment</button>
            </ul> -->
            <div class="modal-footer">
                <ul class="list-group list-group-flush">
                <!-- <textarea class="text-muted caption-box" id="caption" placeholder="Add a comment.."></textarea> -->
                <li class="list-group-item text-muted" id="make-comment" contentEditable="true">Add a comment..</li>
            </ul>
          <button type="button" class="btn post-btn">Post</button>
          </div>

        </div>
    {% endfor %}
{% endblock content %}
{% block sidebar %}
<div class="col-md-3 sidebar">
    <div class="content-section">
    <h3>Our Sidebar</h3>
    <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">Latest Posts</li>
        <li class="list-group-item list-group-item-light">Announcements</li>
        <li class="list-group-item list-group-item-light">Calendars</li>
        <li class="list-group-item list-group-item-light">etc</li>
        </ul>
    </p>
    </div>
</div>
{% endblock sidebar %} 