<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!-- CSS only -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- JS, fontawesome, and jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <!-- <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script> -->
    <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="https://kit.fontawesome.com/6cd5fe2e76.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
 
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Instaclone</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-light border-bottom fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">Instaclone</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link nav-icons" title="Home" href="{{ url_for('home') }}">
                    <i class="fa fa-home" aria-hidden="true"></i>
                  </a>
                  <a class="nav-item nav-link nav-icons" title="Explore" href="{{ url_for('explore') }}">
                    <i class="fa fa-compass" aria-hidden="true"></i>
                  </a>
                  <a class="nav-item nav-link nav-icons" title="New Post" href="{{ url_for('new_post') }}">
                    <i class="far fa-edit"></i>
                  </a>
                  <a class="nav-item nav-link nav-icons" title="Account" href="{{ url_for('account') }}">
                    <i class="far fa-user-circle"></i>
                  </a>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-icons" href="#"  title="Notifications" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% if current_user.new_notif() %}<span class="text-danger">* </span>{% endif %}
                      <i class="fa fa-bell-o"></i>
                    </a>
                    <div class="dropdown-menu notif" aria-labelledby="navbarDropdown">
                      {% if current_user.new_notif() %}
                        {% for notif in current_user.get_notifs() %}
                          <a class="dropdown-item bg-light" href="{{url_for('get_post', post_id=notif.post_id)}}">
                            <img  class="account-img rounded" src="{{ url_for('static', filename='media/thumb' + notif.post.media) }}">

                            <small><span class="font-weight-bold">{{ notif.author }}</span> {{ notif.msg }} your post.</small>
                          </a>
                        {% endfor %}
                      {% endif %}
                      {% for notif in current_user.get_old_notifs() %}
                        <a class="dropdown-item" href="{{ url_for('get_post', post_id=notif.post_id) }}">
                          <img  class="account-img rounded" src="{{ get_file_url('media/thumb' + notif.post.media) }}">

                          <small><span class="font-weight-bold">{{ notif.author }}</span> {{ notif.msg }} your post.</small>
                        </a>
                      {% else %} 
                      <small class="text-muted" style="margin-left:7px;">No new notifications</small>
                      {% endfor %}
                    </div>
                  </li>
                  <a class="nav-item nav-link nav-icons" title="Logout" href="{{ url_for('logout') }}">
                    <i class="fa fa-sign-out"></i>
                  </a>
                {% else %}
                  <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                  <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row justify-content-md-center main-content">
          {% block otherstuff %} {% endblock otherstuff %}
            <div class="col-md-7 special">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif%}
                {% endwith %}
                {% block content %} {% endblock content %}
              </div>
              {% block sidebar %} {% endblock sidebar %}
          </div>
    </main>
</body>

<script src="{{ url_for('static', filename='main.js') }}"></script>
</html>
