{% extends "layout.html" %}
{% block content %}

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#like").click(function() {
                $.get($SCRIPT_ROOT + "{{ url_for('post_likes', post_id=post.pid) }}", 
                function(data, success) {
                    // alert(data.result + " \nstatus: " + success);
                    $("#like_count").text(data.result);
                    st = $("#like").text();
                    if(st == "like")
                        $("#like").text("liked");
                    else
                        $("#like").text("like");
                });
            });

            // remove text from comment box
            $("#make-comment").focus(function() {
                $("#make-comment").text('');
            });

            // post new comment
            $("#post-comment").click(function() {
                var msg = $("#make-comment").text();
                msg = $.trim(msg);
                // aler(msg);
                // return;
                if(msg == '') {
                    alert("Cannot post empty comment");
                    return false;
                }
                $.post($SCRIPT_ROOT + "{{ url_for('make_comment', post_id=post.pid) }}",
                {
                    msg: msg
                },
                function(data, success) {
                    //alert(data.content + '\n ' + success);
                    $("#make-comment").text('Add a comment..');

                    var comment = "<span class='comment'><a class='text-dark user-link' href='" 
                        + data.user_url + "'>" + data.username + "</a> " + data.content + "</span>";

                    $(".comments").append(comment);
                });
            });
        });
    </script>

    <script type="text/javascript">

    </script>
    <div class="card article">
        <div class="card-header">
            <img  class="account-img rounded-circle" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <a class="text-dark user-link" href="{{ url_for('get_user', username=post.author.username) }}">{{ post.author.username }}</a>
        </div>

        {% if post.media %}
            <img src="{{ url_for('static', filename='media/' + post.media) }}" class="card-img-top post-media" alt="">
        {% endif %}
        <div class="card-body">
            <div class="card-text post-meta-data">
                {% if post.user_liked(current_user) %}
                    <a href="#" id="like" class="up-info">liked</a>
                {% else %}
                    <a href="#" id="like" class="up-info">like</a>
                {% endif %}

                <a href="#" id="comment" class="up-info">comment</a>
                <a href="#" id="share" class="up-info">share</a>
                <div id="like_counter">
                    <span id="like_count">{{ post.get_likes_count() }}</span>
                    likes
                </div>
                {% if post.author == current_user %}
                    <small class="float-right"><a class="text-danger" href="{{ url_for('delete_post', post_id=post.pid) }}">delete</a></small>
                {% endif %}
            </div>
            <span class="card-text"> 
                <a class="text-dark user-link " href="{{ url_for('get_user', username=post.author.username) }}">{{ post.author.username }}</a>
                {{ post.content }}
            </span>
            <div class="comments">
                {% if post.comments %}
                    {% for comment in post.comments %}
                        <span class="comment">
                            <a class="text-dark user-link" href="{{ url_for('get_user', username=comment.author.username) }}">{{ comment.author.username }}</a>
                                {{ comment.content }}
                        </span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted" id="make-comment" contentEditable="true">
                Add a comment..
            </li>
            <button class="btn" id="post-comment">Comment</button>
        </ul>
    </div>
{% endblock content %}
