{% extends "layout.html" %}
{% block content %}

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type=text/javascript>
        $(document).ready(function() {
        $("#flw").click(function() {
            var t = $("#flw").text();
            if(t == "follow") {
                $.post($SCRIPT_ROOT + "/follow", 
                { 
                    username: 'test'
                }, function(data, success) {
                    alert(data.result + " status: " + success);
                    $("#flw").text('unfollow');
                });
            }
            if(t == "unfollow") {
                $.post($SCRIPT_ROOT + "/unfollow", 
                { 
                    username: 'test'
                }, function(data, success) {
                    alert(data.result + " status: " + success);
                    $("#flw").text('follow');
                });
            }
        }); 
        }); 
    </script>

    <div class="content-section">
        <h1 id="user">{{ user.username }}</h1>
        <small>
            {% if current_user.is_following(user) %}
                <!--<form method="POST" action="{{ url_for('unfollow_user', username=user.username) }}">
                    <input type="submit" value="unfollow">
                </form>-->
                <button id="flw">unfollow</button>
            {% elif user != current_user %}
                <button id="flw">follow</button>
            {% endif %}
        </small>
        {% for post in posts %}
            <article>
                <div>
                    {% if post.media %}
                        <img class="post-img" src="{{ url_for('static', filename='media/' + post.media) }}">
                    {% endif %}
                    <p>{{ post.content }}</p>
                    <div>
                        <a href="{{ url_for('get_user', username=post.author.username) }}">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small> 
                    </div>
                </div>
                {% if post.author == current_user %}
                    <small><a href="{{ url_for('delete_post', post_id=post.pid) }}">delete</a></small>
                {% endif %}
            </article>
        {% endfor %}
    </div>
{% endblock content %}
